
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Aguarde")

<div class="row margem-top-10">
    <div class="col-md-12">
        <a asp-area="Cadastros" asp-controller="Produtos" asp-action="Incluir" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-plus"></i> Novo Produto</a>
    </div>
</div>


<br />

<div class="row  margem-top-10">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-list-alt"></i>
                LISTATEM PRODUTOS
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbgrid" class="table table-hover table-bordered tabela-cor">
                            <thead>
                                <tr>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>

                                    <th class="text-center">Id</th>
                                    <th class="text-center">Apelido</th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Unidade</th>
                                    <th class="text-center">Fornecedor</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @if (@ViewBag.RetornoPost != "" && @ViewBag.RetornoPost != null)
    {
        var notificacao = ViewBag.RetornoPost.Split(',');
        <script>
            ExibeMensagem("@notificacao[0]", "@notificacao[1]");
        </script>
    }


    <script>
        colunas = [

            {
                "data": "Id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='" + urlDetalharProduto + "?id=" + id + "' class='btn btn-info btn-sm showhint' title='Detalhar registro'><i class='glyphicon glyphicon-search'></i></a>"
                }
            },

            {
                "data": "Id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='" + urlAlterarProduto + "?id=" + id + "' class='btn btn-success btn-sm showhint' title='Alterar registro'><i class='glyphicon glyphicon-pencil'></i></a>"
                }
            },

            {
                "data": "Id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='" + urlExcluirProduto + "?id=" + id + "' class='btn btn-danger btn-sm showhint' title='Excluir registro'><i class='glyphicon glyphicon-trash'></i></a>"
                }
            },


            {
                "data": "Id",
                "width": "2%",
                "sClass": "text-center"
            },

            {
                "data": "Apelido",
                "width": "24%",
                "sClass": "text-left"
            },

            {
                "data": "Nome",
                "width": "40%",
                "sClass": "text-left"
            },

            {
                "data": "Valor",
                "width": "10%",
                "sType": "currency",
                "sClass": "text-right"
            },

            {
                "data": "Unidade",
                "width": "2%",
                "sClass": "text-center"
            },

            {
                "data": "NomeFornecedor",
                "width": "18%",
                "sClass": "text-left"
            }

        ];

        $(document).ready(function () {
            ListagemConsulta("tbgrid", urlProdutos, colunas)
        });

    </script>

}




