@model Projeto.Curso.Core.Application.Pedido.ViewModels.ClientesViewModel

@{
    ViewData["Title"] = "Clientes - Inclusão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margem-top-10">
    <div class="col-md-12">
        <vc:summary />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-plus"></i>
                <strong>CLIENTES - INCLUSÃO</strong>
            </div>
            <div class="panel-body padding-25">
                <div class="row">
                    <form asp-action="Incluir">
                        @Html.Partial("_FormClientes")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial");
    @if (@ViewBag.RetornoPost != "" && @ViewBag.RetornoPost != null)
    {
        var notificacao = ViewBag.RetornoPost.Split(',');
        <script>
            ExibeMensagem("@notificacao[0]", "@notificacao[1]");
            var limpa = "@notificacao[0]";
            if (limpa == 'success') {
               clearForm();
                $("#Apelido").focus();
            }
        </script>
    }

}



